{% extends 'base.html.twig' %}

{% block title %}panier{% endblock %}

{% block body %}

{% if cart %}  {# affichage du tableau si au moins un produit se trouve dans la panier #}

  <div class="admin-index-title">
    <h1>votre panier</h1>
  </div>

  <table class="cart-table">
    <thead>
    </thead>
      <tbody>
        {% for product in cart %}
          <tr>
            <td class="cart-table-td"><a href="{{ path('detail', {'id': product.product.id}) }}" title="Voir les détails">{{ product.product.name }}</a></td>
            <td class="cart-table-td">{{ product.product.price }}€</td>
            <td>
              <a href="{{ path('detail', {'id': product.product.id}) }}" title="Voir les détails">
                <img src="{{ product.product.pictures[0].picName }}" alt="{{ product.product.name }}">
              </a>
            </td>
            <td  class="cart-table-td cart-table-td-trash">
              <a href="{{ path('cart_remove', {'id': product.product.id}) }}" title="Retirer du panier"><i class="fa-solid fa-trash btn-trash"></i></a>
            </td>
          </tr>

        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td class="cart-total">Total : {{ total }} €</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="cart-table-actions">
          <td class="text-center">
            <a href="{{ path('cart_removeAll') }}" class="btn btn-secondary">VIDER LE PANIER</a>
          </td>
          <td></td>
          <td>

          </td>
          <td class="text-center">
            <a href="{{ path('order_add') }}" class="btn btn-cart-confirm"><span>VALIDER </span><i class="fa-solid fa-cart-shopping"></i></a>
          </td>
        </tr>
      </tfoot>
</table>

  <h2>product</h2>
  <ul>
      {% for product in products %}
      <li><a href="{{ path('detail' , {'id': product.id}) }}">{{ product.name }}</a></li>
      {% endfor %}
  </ul>

{% else %}  {# Sinon information le panier est vide #}

  <div class="cart-empty">
    <div class="empty copperplate">
      <h1>votre panier est vide</h1>
    </div>

    <div class="empty-button">
      <a href="{{ path('product') }}">Continuez votre shopping</a>
    </div>
  </div>

{% endif %}

{% endblock %}
