{{form_start(userForm)}}
    {{form_row(userForm.firstname)}}
    {{form_row(userForm.lastname)}}
    {{form_row(userForm.email)}}
    {{form_row(userForm.phone)}}
    {{form_row(userForm.address)}}
    {{form_row(userForm.zipcode)}}
    {{form_row(userForm.city)}}
    {{form_row(userForm.country)}}
    <button type="submit" class="btn btn-primary">Modifier</button>
{{form_end(userForm)}}