{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}


{% include "partials/_adminnav.html.twig" %}

<h1 class="admin-index-title">Liste des utilisateurs</h1>

<a href="{{path('admin_user_addPartner')}}">Ajout de partenaire</a>

<table class="admin-index-user-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Nom boutique</th>
            <th>Département</th>
            <th>Ville</th>
            <th>E-mail</th>
            <th>Rôle</th>
            <th>Vérifié</th>
            <th class="admin-actions">Actions</th>
            <th>QR code</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users.data %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>
                    {% for supplier in user.suppliers %}
                        {{ supplier.companyName }}
                    {% endfor %}
                </td>
                <td>{{ user.zipcode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        {% if role == "ROLE_SUPER_ADMIN" %}
                            {% set name = "Super Administrateur" %}
                        {% elseif role == "ROLE_ADMIN" %}
                            {% set name = "Admin" %}
                        {% elseif role == "ROLE_PARTNER" %}
                            {% set name = "Partenaire" %}
                        {% else %}
                            {% set name = "Membre" %}
                        {% endif %}
                        <span>{{ name }}</span>
                    {% endfor %}
                </td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="switch{{ user.id }}" {{ user.isVerified ? "checked" : "" }} disabled>
                        <label class="form-check-label" for="switch{{ user.id }}"></label>
                    </div>
                </td>
                <td>
                    <div class="admin-actions-btn">
                    <a href="{{ path('admin_user_edit', {id: user.id}) }}" class="btn-modifier">Modifier</a>
                    <a href="{{ path('admin_user_delete', {id: user.id})}}" class="btn-supprimer">Supprimer</a>
                    </div>
                </td>
                <td>
                    {% for role in user.roles %}
                    {% if role == "ROLE_PARTNER" %}
                        <a href="{{ path('admin_user_qr_code', {id: user.id}) }}" class="btn-qrcode">Generer qr-code</a>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="flex justify-center mb-20">
    {% include "partials/paginationUser.html.twig" %}
</div>


{% endblock %}
