{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

<div class="login-container">
    <form method="post" class="login-form">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                <h5>{{ message.info }}</h5>
                {{ message.bonus }}
            </div>
        {% endfor %}

        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                <h5>{{ message.info }}</h5>
                {{ message.bonus }}
            </div>
        {% endfor %}

        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                <h5>{{ message.info }}</h5>
                {{ message.bonus }}
            </div>
        {% endfor %}

        <h1>Connexion</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>

        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
        <p class="forgot-password"><a href="{{ path('reset_password_request') }}">Mot de passe oublié ?</a></p>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
        <button type="submit">Se connecter</button>
        
        
        <p class="text-center mt-5">Vous n'avez pas de compte ?</p>
        <p class="text-center mt-3 login-btn"><a href="{{ path('app_register') }}">Créer un compte</a></p>
    </form>
</div>

{% endblock %}
