{% extends 'base.html.twig' %}

{% block title %}+ de chiffres{% endblock %}

{% block body %}
    <h1>+ de Chiffres</h1>
    {% include "partials/_adminnav.html.twig" %}

    <p>{{ nbrProduct }} produits en ligne.</p>
    <p>{{ nbrUser }} utilisateurs inscrits.</p>
    <p>{{ nbrUserLog }} utilisateurs connectés.</p>
    {# <p>{{ nbrInsta }} follower sur insta</p> #}
    <p>{{ nbrCommandes }} commandes faites à partir de minuit.</p>
    <p>{{ CA }} € à partir de minuit.</p>
{% endblock %}
