  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="{{ path("product", {'age': ['0-1']}) }}" class="age-swiper copperplate">
                <h1>0 - 1 an</h1>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="{{ path("product", {'age': ['2-4']}) }}" class="age-swiper copperplate">
                <h1>2 - 4 ans</h1>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="{{ path("product", {'age': ['5-7']}) }}" class="age-swiper copperplate">
                <h1>5 - 7 ans</h1>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="{{ path("product", {'age': ['8-9']}) }}" class="age-swiper copperplate">
                <h1>8 - 9 ans</h1>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="{{ path("product", {'age': ['10+']}) }}" class="age-swiper copperplate">
                <h1>10 ans et +</h1>
            </a>
        </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
