<header class="header">

    <div class="columns-3xs flex justify-center space-x-80">

        <div class="my-auto w-80">

            <form class="search" method="post" action="{{ path('search') }}">
                <input placeholder="Rechercher" name="search" type="text">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        

        </div>

        <div class="my-auto w-80 flex justify-center">
            
                <a href="{{ path('main') }}"> <!-- lien vers l'accueil -->
                    <img src="{{ asset("images/logoneutre.png") }}" class="w-40 logo-hover"><!-- logo -->
                </a>
            
        </div>
        

        <div class="my-auto w-80">
            <div class="flex justify-center space-x-1">
                <a href=""><i class="fa-solid fa-heart navbar-menu"></i></a>
                <a href="{{ path('cart') }}"><i class="fa-solid fa-cart-shopping navbar-menu"></i></a>
                {% if app.user %}
                    {% if app.user.roles[0] == "ROLE_USER" %}
                        <a href="{{ path('app_user_profil', {'id': app.user.id}) }}"><i class="fa-solid fa-user navbar-menu"></i></a>
                    {% elseif app.user.roles[0] == "ROLE_PARTENER" %}
                        <a href="{{ path('app_partner', {'id': app.user.suppliers[0].id}) }}"><i class="fa-solid fa-user navbar-menu"></i></a>
                    {% else %}
                        <a href="{{ path('admin_index') }}"><i class="fa-solid fa-user navbar-menu"></i></a> 
                    {% endif %}
                {% else %}
                    <a href="{{ path('app_login') }}"><i class="fa-solid fa-user navbar-menu"></i></a>
                {% endif %}
            </div>
        </div>

    </div>
</header>





