<div class="header">

    <div class="section-container" id="left-section">
        <div class="search">
            <form method="post" action="{{ path('search') }}" class="flex">
                <input placeholder="Rechercher" name="search" type="text">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>

    <div class="section-container" id="middle-section">
        <a href="{{ path('main') }}">
            <!-- lien vers l'accueil -->
            <img id="navbar-image" src="{{ asset("images/logobleupapou.png") }}" class="navbar-logo" alt="Logo">
        </a>
    </div>

    <div class="section-container" id="right-section">
        <div>
            <a href=""><i class="fa-solid fa-heart navbar-menu"></i></a>
            <a href="{{ path('cart') }}"><i class="fa-solid fa-cart-shopping navbar-menu"></i></a>
            <a href="{{ path('app_login') }}"><i class="fa-solid fa-user navbar-menu"></i></a>
        </div>
    </div>

</div>
