{% if products.pages > 1 %}
    <div class="product-age-pagination-container">
        <ul class="product-age-pagination">
            {% if products.page > 1 %}
                {% if data['categories']|length == 0 %}
                    <li>
                        <a href="{{ path('product', {'page': products.page - 1, 'age': data['age']}) }}">Précédent</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('product', {'page': products.page - 1, 'categories': data['categories'], 'age': data['age']}) }}">Précédent</a>
                    </li>
                {% endif %}
            {% endif %}
            {% for page in 1..products.pages %}
                {% if data['categories']|length == 0 %}
                    <li>
                        <a href="{{ path('product', {'page': page, 'age': data['age']}) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('product', {'page': page,  'categories': data['categories'], 'age': data['age']}) }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if products.page < products.pages %}
                {% if data['categories']|length == 0 %}
                    <li>
                        <a href="{{ path('product', {'page': products.page + 1, 'age': data['age']}) }}">Suivant</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('product', {'page': products.page + 1, 'categories': data['categories'], 'age': data['age']}) }}">Suivant</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
{% endif %}