{% extends 'base.html.twig' %}

{% block title %}partner-Product-Add{% endblock %}

{% block body %}

<div>
    <h1>Ajouter votre produit</h1>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        {{ form_row(form.age) }}
        {{ form_row(form.stock) }}
        {{ form_row(form.state) }}
        {{ form_row(form.length) }}
        {{ form_row(form.width) }}
        {{ form_row(form.heigh) }}
        {{ form_row(form.id_category) }}
        {{ form_row(form.image0, {'required': true}) }}
        {{ form_row(form.image1) }}
        {{ form_row(form.image2) }}
        {{ form_row(form.image3) }}
        <button type="submit">submit<button>
        <a href="{{ path('partner_index', {'id': supplier.id}) }}">retour</a>
    {{ form_end(form) }}
</div>
    
{% endblock %}