{% extends 'base.html.twig' %}

{% block title %}partner-Product-Add{% endblock %}

{% block body %}

<div>


    <h1 class="admin-index-title">Ajouter votre produit</h1>

<div class="flex justify-center align-center h-full partner-form">
            <div>
                {{ form_start(form, {'attr': {'class': 'form-container'}}) }}
                    <div class="form-group">
                        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.price, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.new_price) }}(comparatif)
                        {{ form_widget(form.new_price, {'attr': {'class': 'form-control', 'placeholder': 'facultatif'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.age, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.state, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.length, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.width, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.heigh, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.id_category, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="{{ form.image0.vars.id }}">Image 1 (image principale de votre produit)</label>
                        {{ form_row(form.image0, {'attr': {'class': 'form-control', 'required': true}}) }}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="{{ form.image1.vars.id }}">Image 2</label>
                        {{ form_row(form.image1, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="{{ form.image2.vars.id }}">Image 3</label>
                        {{ form_row(form.image2, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="{{ form.image3.vars.id }}">Image 4</label>
                        {{ form_row(form.image3, {'attr': {'class': 'form-control'}}) }}
                    </div>
        
                    <div class="btn-container">
                        <a href="{{ path('partner_index', {'id': supplier.id}) }}" class="btn btn-secondary">ANNULER</a>
                        <button type="submit" class="btn btn-primary">AJOUTER</button>
                    </div>
                {{ form_end(form) }}
            </div>
</div>



</div>
    
{% endblock %}