{% extends 'base.html.twig' %}

{% block title %}partner{% endblock %}

{% block body %}

<div class="partner-index-title">
    <h1>Tableau de bord</h1>
</div>

<div class="partner-index-content">
    <ul>
        <li>
            <a href="{{ path('partner_product_add', {'id': id}) }}">Ajouter un produit</a>
        </li>
        <li>
            <a href="{{ path('partner_profil', {'id': id}) }}">Mon profil</a>
        </li>
        <li>
            <a href="{{ path('partner_sale', {'id': id}) }}">Mes Ventes Effectuées</a>
        </li>
        <li>
            <a href="{{ path('partner_product', {'id': id}) }}">Consulter mes produits en ligne</a>
        </li>
        <li>
            <a href="{{ path('partner_contact', {'id': id}) }}">J'ai un souci : contacter Papou</a>
        </li>
        <li>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </li>
    </ul>
</div>
















{% endblock %}
