{% extends 'base.html.twig' %}

{% block title %}partner-Product{% endblock %}

{% block body %}

<div class="partner-products-title">
  <h1>vos produits en ligne</h1>
</div>




<div class="partner-products-table">
    <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Etat</th>
            <th>Prix</th>
            <th>Photo</th>
          </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.state }}</td>
                <td>{{ product.price }}</td>
                <td><img src="{{ product.pictures[0].picName }}" alt="{{ product.name }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<div class="partner-products-infos">
  <ul>
    <li>Montant total de vos produits = {{ valueProduct }}</li>
    <li>Nombre de produits en ligne = {{ nbrProduct }}</li>
    <li><a href="{{ path('partner_index', {'id': supplier.id}) }}">retour</a></li>
  </ul>


</div>




{% endblock %}
