{% extends 'base.html.twig' %}

{% block title %}partner-Product{% endblock %}

{% block body %}

<div class="partner-products-title">
  <h1>vos produits en ligne</h1>
</div>




<div class="partner-products-table">
    <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Etat</th>
            <th>Prix</th>
            <th>Photo</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.state }}</td>
                <td>{{ product.price }}</td>
                <td><img src="{{ product.pictures[0].picName }}" alt="{{ product.name }}"></td>
                <td>
                  <a href="" class="partner-products-btn1" title="Modifier"><i class="fa-solid fa-pen-to-square"></i></a>
                  <a href="" class="partner-products-btn2" title="Supprimer"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<div class="partner-products-infos">

  <div class="partner-products-total-number">
    Nombre de produits en ligne = {{ nbrProduct }}
  </div>

  <div class="partner-products-total-value">
    Montant total de vos produits = {{ valueProduct }}
  </div>

  <div class="partner-products-return">
    <a href="{{ path('partner_index', {'id': supplier.id}) }}" title="retour au tableau de bord">retour</a>
  </div>

</div>






{% endblock %}
