{% extends 'base.html.twig' %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block body %}
<div class="product-page">
    
        <div class="flex-box">
            
            <div class="left">
                <div class="big-img">
                    <img src="{{ product.pictures[0].picName }}" alt="{{ product.name }}">
                </div>

                <div class="supplier-section palatino">
                    <div>
                        <h1>Vendu par : </h1>
                    </div>
                    <div class="supplier-name">
                        <h1>{{ product.idSupplier.companyName }}</h1>
                    </div>
                </div>

            </div>
            


            <div class="right">
                <div class="images">
                    <div class="small-img">
                        <img src="{{ product.pictures[0].picName }}" onclick="showImg(this.src)" alt="{{ product.name }}">
                    </div>
                    <div class="small-img">
                        <img src="{{ product.pictures[1].picName }}" onclick="showImg(this.src)" alt="{{ product.name }}">
                    </div>
                    <div class="small-img">
                        <img src="{{ product.pictures[2].picName }}" onclick="showImg(this.src)" alt="{{ product.name }}">
                    </div>
                    <div class="small-img">
                        <img src="{{ product.pictures[3].picName }}" onclick="showImg(this.src)" alt="{{ product.name }}">
                    </div>
                </div>
                <div class="pname">{{ product.name }}</div>
                <hr>
                <div>{{ product.description }}</div>
                <hr><br>
                <div>{{ product.state }}</div>
                <div class="price">{{ product.price }} <i class="fa-solid fa-euro-sign"></i></div>


                <div class="detail-actions">
                    <div class="btn-box">
                        <a class="cart-btn" href="{{ path('cart_add', {'id': product.id}) }}">Ajouter au panier  <i class="fa-solid fa-cart-shopping"></i></a>
                    </div>

                    {% if app.user %}
                        {% set isPresent = false %}
                        {% for favorite in app.user.favorites %}
                            {% if product.id == favorite.idProduct.id %}
                                {% set isPresent = true %}
                            {% endif %}
                        {% endfor %}

                        {% if isPresent %}
                            <div class="detail-ajout-favoris">
                                <a href="{{ path('favorite_delete', {'id': product.id}) }}"><i class="fa-solid fa-heart"></i></a>
                            </div>
                        {% else %}
                            <div class="detail-ajout-favoris">
                                <a href="{{ path('favorite_add', {'id': product.id}) }}"><i class="fa-regular fa-heart"></i></a>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if product.id in app.session.get('favorite') %}
                            <div class="detail-ajout-favoris">
                                <a href="{{ path('favorite_delete', {'id': product.id}) }}"><i class="fa-solid fa-heart"></i></a>
                            </div>
                        {% else %}
                            <div class="detail-ajout-favoris">
                                <a href="{{ path('favorite_add', {'id': product.id}) }}"><i class="fa-regular fa-heart"></i></a>
                            </div> 
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
</div>

<br>

<div class="title-other-products copperplate">
    <h1>Autres produits de notre partenaire :</h1>
</div>


{% include "partials/home_carousel1.html.twig" %}
<br><br>

            <script>
            let bigImg = document.querySelector('.big-img img');
            function showImg(pic){
                bigImg.src = pic;
            }
        </script>

{% endblock %}
