{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ product.name }}</h1>
    {% for picture in product.pictures %}
        <img src="{{picture.picName}}">
    {% endfor %}

    <ul>
        <li>category = {{ product.idCategory.name }}</li>
        <li>stock = {{ product.stock }}</li>
        <li>age = {{ product.age }}</li>
        <li>état = {{ product.state }}</li>
        <li>vendue par {{ product.idSupplier.companyName }}</li>
        <li>prix = {{ product.price }}€</li> 
    </ul>

    <a href="{{ path('cart_add', {'id': product.id}) }}">ajouter au panier</a>

    <h2>product</h2>
    <ul>
        {% for product1 in products %}
        
            <li><a href="{{ path('detail' , {'id': product1.id}) }}">{{ product1.name }}</a></li>
        
        {% endfor %}
    </ul>
{% endblock %}