{% extends 'base.html.twig' %}

{% block body %}
<h1>favorite</h1>

{% if products|length == 0 %}
	<h2>vous n'avez pas de produit dans vos favorie</h2>
{% else %}
	<table>
		<thead>
			<tr>
				<th>nom</th>
				<th>image</th>
				<th>prix</th>
				<th>detail</th>
				<th>supprimer</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{product.name}}</td>
					<td><img src="{{product.pictures[0].picName}}" alt="{{product.name}}"></td>
					<td>{{product.price}}</td>
					<td>
						<a href="{{path('detail',{'id': product.id})}}">detail</a>
					</td>
					<td>
						<a href="{{path('favorite_delete',{'id': product.id})}}">supp</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
}{% endif %}
{% endblock %}
