{% extends 'base.html.twig' %}

{% block body %}



    {% if products|length == 0 %}
    <h1 class="admin-index-title">Vous n'avez pas de produits favoris</h1>

    <div class="empty-favorite-content">
        <div>
            <p>N'hésitez pas à en ajouter à votre liste en cliquant sur les <i class="fa-regular fa-heart"></i></p>
            <p>que vous croiserez en consultant la <a href="{{ path('product')}}">liste de nos produits</a> !</p>
        </div>
    </div>

    {% else %}

        <h1 class="admin-index-title">Vos produits favoris</h1>

            <table class="favorite-table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Photo</th>
                        <th>Prix</th>
                        <th>Détail</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{product.name}}</td>
                            <td><a href="{{path('detail',{'id': product.id})}}"><img src="{{product.pictures[0].picName}}" alt="{{product.name}}"></a></td>
                            <td>{{product.price}} €</td>
                            <td><a href="{{path('detail',{'id': product.id})}}" title="Voir le détail"><i class="fa-solid fa-list"></i></a></td>
                            <td><a href="{{path('favorite_delete',{'id': product.id})}}">supp</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

    {% endif %}

<div class="navigation-buttons-section">
    <a href="{{ path('main')}}" class="btn btn-secondary">Retour à l'accueil</a>
    <a href="{{ path('product')}}" class="btn btn-products">Voir nos produits</a>
</div>

{% endblock %}
