{% extends 'base.html.twig' %}

{% block body %}


<div class="category-container copperplate">

    {% for category in categories %}
        <a href="{{ path('product', {'id': category.id}) }}" class="category-btn">{{category.name}}</a>
    {% endfor %}

</div>

<div class="products-carousel">
    {% include "partials/home_carousel2.html.twig" %}
</div>


<div class="flex home-card-centered home-div-size1">

    <div class="mx-2">
        <a href="">
                <img src="{{ asset("images/accueil/accueil1.png") }}" class="home-card">
        </a>
    </div>

    <div class="mx-2">
        <a href="">
                <img src="{{ asset("images/accueil/accueil2.png") }}" class="home-card">
        </a>
    </div>

    <div class="mx-2">
        <a href="">
                <img src="{{ asset("images/accueil/accueil3.png") }}" class="home-card">
        </a>
    </div>

</div>


<h1 class="home-age-title copperplate">Retrouvez nos jouets par tranche d'âge</h1>
{% include "partials/age_carousel.html.twig" %}



<div class="section-bandeau">
    <a href="">
        <img src="/images/accueil/bandeau-partager.png" alt="partager" class="bandeau">
    </a>
</div>



<div class="home-promo copperplate">
    <h1>Le coin des bonnes affaires :</h1>
</div>

<div class="products-carousel">
    {% include "partials/home_carousel1.html.twig" %}
</div>

<div class="section-partenaire">
    <div class="section-papou"></div>
    <div class="section-partner"></div>
</div>


<div class="section-superman">
    <img src="/images/accueil/superman.png" alt="superman" class="img-superman">
</div>


{% endblock %}


