{% extends 'base.html.twig' %}

{% block body %}


{% if products|length == 0 %}
    <div class="product-age-title">
        <h1>Aucun produit trouver</h1>
    </div>
    <div class="product-age-content">

        <div class="product-age-left-section">
            {{ form_start(form) }}
                <h2>Categorie</h2>
                {{form_row(form.categories)}}
                <h2>Age</h2>
                {{form_row(form.age)}}
                <button type="submit">filter</button>
            {{ form_end(form) }}
        </div>

        <div class="product-age-right-section">
        </div>
    </div>
{% else %}    
    {% if data.age|length > 1 or data.categories|length != 0 %}
        <div class="product-age-title">
            <h1>le resultat du filtre</h1>
        </div>
    {% endif %}

    {% if data.age|length == 1 and data.categories|length == 0 %}
        <div class="product-age-title">
            <h1>Nos produits pour les {{ data.age[0] }} ans</h1>
        </div>
    {% endif %}

    {% if data.category != 0 %}
        <div class="product-age-title">
            <h1>Nos produits de la categorie {{ category.name }}</h1>
        </div>
    {% endif %}
    {% if data.category == 0 and data.age|length == 0 and data.categories|length == 0 %}
        <div class="product-age-title">
            <h1>Tout nos produit</h1>
        </div>
    {% endif %}

    <div class="product-age-content">

        <div class="product-age-left-section">
            {{ form_start(form) }}
                <h2>Categorie</h2>
                {{form_row(form.categories)}}
                <h2>Age</h2>
                {{form_row(form.age)}}
                <button type="submit">filter</button>
            {{ form_end(form) }}
        </div>

        <div class="product-age-right-section">

            {% for product in products.data %}

            <li><a href="{{ path('detail' , {'id': product.id}) }}">{{ product.name }}</a></li>
            
            {% endfor %}
        </ul>
    {% endif %}




{% endblock %}