{% extends 'base.html.twig' %}

{% block body %}

{% if data.age|length > 1 or data.categories|length != 0 %}
    <div class="product-age-title">
        <h1>le resultat du filtre</h1>
    </div>
{% endif %}

{% if data.age|length == 1 and data.categories|length == 0 %}
    <div class="product-age-title">
        <h1>Nos produits pour les {{ data.age[0] }} ans</h1>
    </div>
{% endif %}

{% if data.category != 0 %}
    <div class="product-age-title">
        <h1>Nos produits de la categorie {{ category.name }}</h1>
    </div>
{% endif %}
{% if data.category == 0 and data.age|length == 0 and data.categories|length == 0 %}
    <div class="product-age-title">
        <h1>Tout nos produit</h1>
    </div>
{% endif %}

<div class="product-age-content">

    <div class="product-age-left-section">
        {{ form_start(form) }}
            <h2>Categorie</h2>
            {{form_row(form.categories)}}
            <h2>Age</h2>
            {{form_row(form.age)}}
            <button type="submit">filter</button>
        {{ form_end(form) }}
    </div>

    <div class="product-age-right-section">

        {% for product in products.data %}

        <div class="products-age-carousel">
        
            <div class="products-age-carousel-container">

                {% for picture in product.pictures %}    
                    <div class="products-carousel-img">
                        <a href="{{ path('detail' , {'id': product.id}) }}">
                            <div class="products-carousel-img" style="background-image: url('{{picture.picName}}')"></div>
                        </a>
                    </div>
                {% endfor %}
        
            </div>
            <img src="{{ asset('images/btn-swipe.png') }}" class="btn-swipe btn-swipe-left"> <!-- faire un bouton qui pointe vers la gauche -->
            <img src="{{ asset('images/btn-swipe.png') }}" class="btn-swipe btn-swipe-right"> <!-- appliquer également le bouton qui pointe vers la gauche -->
        
            <div class="product-card-detail copperplate">
                <p>{{product.name}}</p>
                <p>{{product.price}} €</p>
            </div>
        
        </div>
        
        {% endfor %}

    </div>



</div>

<div>
    {% include "partials/pagination.html.twig" %}
</div>



{% endblock %}