{% extends 'base.html.twig' %}

{% block body %}

<h1>{{ products[0].age }}</h1>

<div class="dev1"></div>

{% include "partials/products_carousel.html.twig" %}

<div class="dev2"></div>

{% for product in products %}

    <div class="product-card">

        <a href="{{ path('detail' , {'id': product.id}) }}">
            <img alt="{{product.name}}" src="{{product.pictures[0].picName}}">
        </a>

        <a href="{{ path('detail' , {'id': product.id}) }}">
            <img alt="{{product.name}}" src="{{product.pictures[1].picName}}">
        </a>

        <a href="{{ path('detail' , {'id': product.id}) }}">
            <img alt="{{product.name}}" src="{{product.pictures[2].picName}}">
        </a>

        <a href="{{ path('detail' , {'id': product.id}) }}">
            <img alt="{{product.name}}" src="{{product.pictures[3].picName}}">
        </a>
        
    </div>

{% endfor %}

{% endblock %}