{% extends 'base.html.twig' %}

{% block body %}

{% if products|length == 0 %}
    <div class="products-title">
        <h1>Aucun produit trouvé</h1>
    </div>
    <div class="products-content">

        <div class="products-left-section">

            {{ form_start(form) }}

                <h2 class="flex text-xl copperplate">Catégorie</h2>
                <div>
                    {{form_row(form.categories)}}
                </div>


                <h2>Age</h2>
                <div>
                    {{form_row(form.age)}}
                </div>


                <button type="submit" class="btn btn-info">Filtrer</button>
            {{ form_end(form) }}

        </div>

    </div>
{% else %}    
    {% if data.age|length > 1 or data.categories|length != 0 %}
        <div class="products-title">
            <h1>Produits - filtrés</h1>
        </div>
    {% endif %}

    {% if data.age|length == 1 and data.categories|length == 0 %}
        <div class="products-title">
            <h1>Nos produits pour les {{ data.age[0] }} ans</h1>
        </div>
    {% endif %}

    {% if data.category != 0 %}
        <div class="products-title">
            <h1>Nos produits de la catégorie {{ category.name }}</h1>
        </div>
    {% endif %}
    {% if data.category == 0 and data.age|length == 0 and data.categories|length == 0 %}
        <div class="products-title">
            <h1>Tout nos produits</h1>
        </div>
    {% endif %}

    <div class="products-content">

        <div class="products-left-section">

            {{ form_start(form) }}

                <h1 class="flex text-xl copperplate">Catégorie</h1>

                    {{form_row(form.categories)}}


                <h1 class="flex text-xl copperplate">Age</h1>

                    {{form_row(form.age)}}
 
                <button type="submit" class="btn btn-info">Filtrer</button>
            {{ form_end(form) }}

        </div>

        <div class="products-right-section">

            {% for product in products.data %}

            <div class="products-age-carousel">
    
                <div class="products-age-carousel-container">
    
                    <div class="products-carousel-img">
                        <a href="{{ path('detail' , {'id': product.id}) }}">
                            <div class="products-carousel-img" style="background-image: url('{{product.pictures[0].picName}}')"></div>
                        </a>
                    </div>
                    <div class="product-carousel-img">
                        <a href="{{ path('detail' , {'id': product.id}) }}">
                            <div class="products-carousel-img" style="background-image: url('{{product.pictures[1].picName}}')"></div>
                        </a>
                    </div>
                    <div class="product-carousel-img">
                        <a href="{{ path('detail' , {'id': product.id}) }}">
                            <div class="products-carousel-img" style="background-image: url('{{product.pictures[2].picName}}')"></div>
                        </a>
                    </div>
                    <div class="product-carousel-img">
                        <a href="{{ path('detail' , {'id': product.id}) }}">
                            <div class="products-carousel-img" style="background-image: url('{{product.pictures[3].picName}}')"></div>
                        </a>
                    </div>
    
                </div>
                <div class="btn-favoris"><a href=""><i class="fa-regular fa-heart" title="Ajouter aux favoris"></i></a></div>
                <img src="{{ asset('images/btn-swipe.png') }}" class="btn-swipe btn-swipe-left"> <!-- bouton qui défile vers la gauche -->
                <img src="{{ asset('images/btn-swipe.png') }}" class="btn-swipe btn-swipe-right"> <!-- bouton qui défile vers la gauche -->
    
                <div class="product-card-detail copperplate">
                    <div>
                        <p class="flex justify-center">{{product.name}}</p>
                        <p class="flex justify-center">{{product.price}} €</p>
                    </div>
                </div>
    
            </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>

{% endblock %}