{% extends 'base.html.twig' %}

{% block title %}ResetPassword{% endblock %}

{% block body %}

    {# formulaire de réinitialisation de mdp #}
    <h1>Réinitialisation du mot de passe</h1>
        <a href="{{ path("app_login") }}" class="btn btn-primary btn-sm mb-4" title="Retour à la liste des cours">Retour à l'authentification</a>
        <hr class="my-2">

        {# !!!!! MESSAGE FLASH !!!!! #}

        {% for message in app.flashes('success') %}          {# success = Nom de l'alerte  #}
            <div class="alert alert-success mt-4">           {# alert-success = Type d'alerte Bootstrap #}
                <h5>{{ message.info }}</h5>
                {{message.bonus}}
            </div>
        {% endfor %}

        {% for message in app.flashes('warning') %}          {# warning = Nom de l'alerte  #}
            <div class="alert alert-warning mt-4">           {# alert-warning = Type d'alerte Bootstrap #}
                <h5>{{ message.info }}</h5>
                {{message.bonus}}
            </div>
        {% endfor %}

        {% for message in app.flashes('danger') %}          {# danger = Nom de l'alerte  #}
            <div class="alert alert-danger mt-4">           {# alert-danger = Type d'alerte Bootstrap #}
                <h5>{{ message.info }}</h5>
                {{message.bonus}}
            </div>
        {% endfor %}
        
        {# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! #}


        {{ form(form) }}
{% endblock %}