{% extends 'base.html.twig' %}

{% block title %}Les Chiffres d'Affaires{% endblock %}

{% block body %}

{% include "partials/_adminnav.html.twig" %}

<h1 class="admin-index-title">Espace administrateur</h1>

<div class="admin-index-content">
    <div class="admin-index-left-section">
        <h2>C.A général</h2>
    </div>
    
    <div class="admin-index-right-section">
        <h3>vente du jour</h3>
        <p>{{ saleDay.ca|number_format(2, '.', ',') }} €</p>
        <br>
    
        <h3>vente de la semaine</h3>
        <p>{{ saleWeek.ca|number_format(2, '.', ',') }} €</p>
        <br>
    
        <h3>vente du mois</h3>
        <p>{{ saleMonth.ca|number_format(2, '.', ',') }} €</p>
        <br>
        
        <h3>vente de l'année</h3>
        <p>{{ saleYear.ca|number_format(2, '.', ',') }} €</p>
        <p>panier moyen = {{ saleYear.cart|number_format(2, '.', ',') }} €</p>
        <br>
    </div>
</div>

    {# Les chiffres d'affaires de Papou #}
<div class="admin-index-content">
    
    <div class="admin-index-left-section">
        <h2>CA Papou</h2>
    </div>

    <div class="admin-index-right-section">
        <h3>Vente du jour</h3>
        <p>{{ saleDay.caPapou|number_format(2, '.', ',') }} €</p>
        <br>

        <h3>Vente de la semain</h3>
        <p>{{ saleWeek.caPapou|number_format(2, '.', ',') }} €</p>
        <br>

        <h3>Vente du mois</h3>
        <p>{{ saleMonth.caPapou|number_format(2, '.', ',') }} €</p>
        <br>

        <h3>Vente de l'année</h3>
        <p>{{ saleYear.caPapou|number_format(2, '.', ',') }} €</p>
        <br>
    </div>

</div>

    {# Les chiffres par partenaires #}
    {# voir pour comment bien le faire #}
<div>

</div>

{% endblock %}