<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Accueil  - Papou
            {% endblock %}
        </title>


        {# Liens des feuilles de style css #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>
            <link rel="shortcut icon" href="{{ asset('images/logovert.png') }}">
            <link rel="stylesheet" href="{{ asset('css/component/home_carousel1/home_carousel1.css') }}">
            <link rel="stylesheet" href="{{ asset('css/component/home_carousel1/lightslider.css') }}">
            <link rel="stylesheet" href="{{ asset('css/component/age_carousel/swiper-bundle.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/component/products_carousel/products_carousel.css') }}">
        {% endblock %}

        
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('app-order') }}
        {{ encore_entry_script_tags('app-product') }}
        <script src="https://kit.fontawesome.com/a867087266.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ asset('js/home_carousel1/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/home_carousel1/lightslider.js') }}"></script>
        {% endblock %}
    </head>



    <body>
        {% block header %}
            {% include "partials/navbar.html.twig" %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        <footer>
            {% block footer %}
            {% include "partials/footer.html.twig" %}
            {% endblock %}
        </footer>




        {# liens des js pour les carrousels #}
        <script type="text/javascript" src="{{ asset('js/home_carousel1/home_carousel1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/age_carousel/swiper-bundle.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/age_carousel/swiper.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/products_carousel/products_carousel.js') }}"></script>
    </body>
    



</html>



{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
