{{form_start(productForm)}}
    {{form_row(productForm.name)}}
    {{form_row(productForm.description)}}
    {{form_row(productForm.price)}}
    {{form_row(productForm.age)}}
    {{form_row(productForm.stock)}}
    {{form_row(productForm.promotion)}}
    {{form_row(productForm.state)}}
    {{form_row(productForm.length)}}
    {{form_row(productForm.width)}}
    {{form_row(productForm.heigh)}}
    {# {{form_row(productForm.image)}} #}
    {{form_row(productForm.id_category)}}
    {{form_row(productForm.id_supplier)}}
    <button type="submit" class="btn btn-primary">Modifier</button>
{{form_end(productForm)}}