{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<h1>Profil</h1>

    <div><span>Nom:</span> {{ app.user.lastname  }}</div>
    <div><span>Prenom:</span> {{ app.user.firstname }}</div>
    <div><span>Email:</span> {{ app.user.email }}</div>
    <div><span>Adresse:</span> {{ app.user.address }}</div>
    <div><span>Code postal:</span> {{ app.user.zipcode }}</div>
    <div><span>Ville:</span> {{ app.user.city }}</div>

    <div><a href="{{ path('user_order', {'id': app.user.id}) }}">mes achat</a></div>
    <div>
        <a href="{{ path('user_edit', {'id': app.user.id}) }}">modifier mon compte</a>
        <a href="{{ path('user_delete', {'id': app.user.id}) }}">supprimer mon compte</a>
    </div>
    
    <div>
        <a href="{{ path('app_logout') }}">logout</a>
        <a href="{{ path('main') }}">retour</a>
    </div>
{% endblock %}