{% extends 'base.html.twig' %}

{% block title %}Les Chiffres d'Affaires{% endblock %}

{% block body %}
<main class="container">
    <h1>Consultation Chiffres d'Affaires</h1>
    {% include "partials/_adminnav.html.twig" %}

    {# Les chiffres d'affaires du site #}
    <div>
        <br>
        <h3>CA général</h3>
        <br>
        <h3>vente du jour</h3>
        <p>{{ saleDay.ca|number_format(2, '.', ',') }}
        <p>
            <br>
        <h3>vente de la semaine</h3>
        <p>{{ saleWeek.ca|number_format(2, '.', ',') }}</p>
        <br>
        <h3>vente du mois</h3>
        <p>{{ saleMonth.ca|number_format(2, '.', ',') }}</p>
        <br>
        <h3>vente de l'année</h3>
        <p>{{ saleYear.ca|number_format(2, '.', ',') }}</p>
        <p>panier moyen = {{ saleYear.cart|number_format(2, '.', ',') }}</p>
        <br>
    </div>

    {# Les chiffres d'affaires de Papou #}
    <div>
        <h3>CA Papou</h3>
        <br>
        <h3>Vente du jour</h3>
        <p>{{ saleDay.caPapou|number_format(2, '.', ',') }}</p>
        <br>

        <h3>Vente de la semain</h3>
        <p>{{ saleWeek.caPapou|number_format(2, '.', ',') }}</p>
        <br>

        <h3>Vente du mois</h3>
        <p>{{ saleMonth.caPapou|number_format(2, '.', ',') }}</p>
        <br>

        <h3>Vente de l'année</h3>
        <p>{{ saleYear.caPapou|number_format(2, '.', ',') }}</p>
        <br>
    </div>

    {# Les chiffres par partenaires #}
    {# voir pour comment bien le faire #}
    <div>

    </div>
</main>
{% endblock %}